@import url(./styles/base/reset.css);
@import url(./styles/base/variaveis.css);
@import url(./styles/main.css);
@import url(./styles/header/logo.css);
@import url(./styles/components/btn.css);
@import url(./styles/footer/footer.css);

/* Ajuste para telas ≤768px */
@media (max-width: 768px) {
  html, body {
    min-height: 100vh;
    height: auto;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.warning-bubble {
  position: fixed;
  background: var(--btn-bg);
  color: var(--text-color);
  border: 1px solid var(--border-error);
  padding: 12px 20px;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}

.warning-bubble.show {
  opacity: 1;
  transform: translateY(0);
}


/* tema claro (padrão) */
:root {
  --border-error: #FF0000;
}